# Postgres, Django
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=tiser
POSTGRES_PASSWORD=password
POSTGRES_DB=tiser_db
DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@localhost
DJANGO_DEBUG=False
DJANGO_SECRET_KEY=
DRF_PAGE_SIZE=100
